[Unit]
Description=Free4G-Server Service
After=network.target nss-lookup.target
Wants=network.target

[Service]
User=root
Group=root
Type=simple
LimitAS=infinity
LimitRSS=infinity
LimitCORE=infinity
LimitNOFILE=999999
WorkingDirectory=/usr/local/Free4G-Server/
ExecStart=/usr/local/Free4G-Server/Free4G-Server --config /etc/Free4G-Server/free4g.yml
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target